<section>
  <h2>Upload your photo</h2>
  <form id="myForm" action="/upload" method="post" enctype="multipart/form-data">
    <input id="myName" type="text" name="name">
    <input id="myFile" type="file" name="photo">
    <input type="submit" value="Save">

    <p>&nbsp;</p>

    <div class="progress">
      <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <p>&nbsp;</p>
  </form>

  {{#each pictures}}
    <hr />
    <h3>{{ this.name }}</h3>
    <img style="max-width: 100%;" src="{{ this.path }}" alt="{{ this.originalName }}" />
  {{/each}}
</section>
